* {
  box-sizing: border-box;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;

}


/* Показати контейнер з зображеннями, коли вони є */
.gallery {
  display: none;
}



/* Стили для карточек фотографий */
.photo-card {
display: flex;
align-items: center;
gap: 40px 10px;
flex-wrap: wrap;
min-width: 300px;}


.photo-card>img {
display: flex;
  gap: 10px;
}

.load-more{
  margin: auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    color: #ffffff;
    cursor: pointer;
   
}