* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
}


/* Показати контейнер з зображеннями, коли вони є */
.gallery {
  display: none;
}



/* Стили для карточек фотографий */
.photo-card {
display: flex;
flex: auto;
}